@page "/Experience"
@attribute [StreamRendering]
@using BlazorPortfolio.Data
@using BlazorPortfolio.Data.Models

<div className="col-md-8">

    <h3>Experience: </h3>

    @if (Qualifications == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (Qualifications.Count > 0)
        {
            <div className='table-responsive'>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Qualification</th>
                            <th>Awarded By</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var qualification in Qualifications)
                        {
                            <tr>
                                <td>@qualification.Title</td>
                                <td>@qualification.Location</td>
                                <td>@qualification.Year</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

    <br />
    <br />
    <br />

    <h3>Projects: </h3>

    @if (Projects == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (Projects.Count > 0)
        {
            <div className='table-responsive'>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Language(s)</th>
                            <th>Framework(s)</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Projects)
                        {
                            <tr>
                                <td>@project.Title</td>
                                <td>@project.Languages</td>
                                <td>@project.Framework</td>
                                <td><a href=@project.GithubLink target="_blank">(Github)</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

</div>

@code {
    List<Qualification> Qualifications = DataLoader.GetQualifications();
    List<Project> Projects = DataLoader.GetProjects();
}
