@page "/Experience"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using BlazorPortfolio.Data
@using BlazorPortfolio.Data.Models

<div className="col-md-8">

    <div class="row">
        <div class="col">
            <h3>Employment History: </h3>
        </div>
        <div class="col align-content-center">
            <div class="form-check form-switch float-end">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" @bind-value="ShowAllEmployment" />
                <label class="form-check-label" for="flexSwitchCheckChecked">Show Non-Technical</label>
            </div>
        </div>
    </div>

    @if (ExperienceList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (ExperienceList.Count > 0)
        {
            <div className='table-responsive'>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Language(s)</th>
                            <th>Framework(s)</th>
                            <th>Start Year</th>
                            <th>End Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in ExperienceList)
                        {
                            <tr>
                                <td>@project.Title</td>
                                <td>@project.Company</td>
                                <td>@project.Languages</td>
                                <td>@project.Framework</td>
                                <td>@project.StartYear</td>
                                <td>@project.EndYearDisplay</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

    <br />
    <br />
    <br />

    <h3>Qualifications: </h3>

    @if (QualificationList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (QualificationList.Count > 0)
        {
            <div className='table-responsive'>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Qualification</th>
                            <th>Awarded By</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var qualification in QualificationList)
                        {
                            <tr>
                                <td>@qualification.Title</td>
                                <td>@qualification.Location</td>
                                <td>@qualification.Year</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

</div>

@code {
    private bool _showAllEmployment;
    public bool ShowAllEmployment
    {
        get
        {
            return _showAllEmployment;
        }
        set
        {
            _showAllEmployment = value;
            ExperienceList = DataLoader.GetExperience(value);
        }
    }

    private void SwitchChanged(bool value)
    {
        ShowAllEmployment = value; // this is mandatory
    }



    List<Qualification> QualificationList = DataLoader.GetQualifications();
    List<Data.Models.Experience> ExperienceList = DataLoader.GetExperience();
}
