@page "/Experience"
@attribute [StreamRendering]
@using BlazorPortfolio.Data
@using BlazorPortfolio.Data.Models

<div className="col-md-8">

    <h3>Experience: </h3>

    @if (ExperienceList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (ExperienceList.Count > 0)
        {
            <div className='table-responsive'>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Language(s)</th>
                            <th>Framework(s)</th>
                            <th>Start Year</th>
                            <th>End Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in ExperienceList)
                        {
                            <tr>
                                <td>@project.Title</td>
                                <td>@project.Company</td>
                                <td>@project.Languages</td>
                                <td>@project.Framework</td>
                                <td>@project.StartYear</td>
                                <td>@project.EndYearDisplay</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

    <br />
    <br />
    <br />

    <h3>Qualifications: </h3>

    @if (QualificationList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @if (QualificationList.Count > 0)
        {
            <div className='table-responsive'>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Qualification</th>
                            <th>Awarded By</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var qualification in QualificationList)
                        {
                            <tr>
                                <td>@qualification.Title</td>
                                <td>@qualification.Location</td>
                                <td>@qualification.Year</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }

</div>

@code {
    List<Qualification> QualificationList = DataLoader.GetQualifications();
    List<Data.Models.Experience> ExperienceList = DataLoader.GetExperience();
}
